<!-- Template for Contact Form webpage -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GPUBot: Contact Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Index CSS -->
        <link rel="stylesheet" href="/static/styles/index.css">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <!-- Body Template -->
    <body>
        <!-- Page Header (Same as Main) -->
        <div id="header">
            <a href="/">
                <img id="logo" src="/static/logo.png">
            </a>
        </div>

        <!-- Success/Error Message -->
        {% if message %}
        <div class="alert alert-success" role="alert">
            {{message}} 
                <a class="return" href="/">Return Home</a>
        </div>
        {% endif %}

        <!-- Template for Contact Form -->
        <div class="contactForm">
            <form method="POST">
                <div class="form-group">
                    <label for="senderEmail">Your Email Address: (This is how we'll contact you)</label>
                    <input type="email" name="senderEmail" class="form-control" id="senderEmail" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="senderSubject">Message Subject:</label>
                    <input type="text" name="senderSubject" class="form-control" id="senderSubject">
                </div>
                <div class="form-group">
                    <label for="senderContents">Message:</label>
                    <textarea class="form-control" name="senderContents" id="senderContents" rows="5"></textarea>
                </div>
                <button type="submit" name="senderSubmit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Footer -->
        <div class="footer">
            <a href="/contact" class="contact-button">Contact Us</a>
            <span class="copyright">© GPUBot 2020. All rights reserved</span>
        </div>


        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="{{url_for('static', filename='index.js')}}"></script>

   
    </body>
</html> 